body { 
    padding-top: 70px; 
}
.btn-rotation {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    background-color: #16dadd;
    width: 200px;
    text-align: center;
    padding: 16px;
    position: relative;
    opacity: 1 !important;
    transition: all 0.4s;
    line-height: 1.2;
    border-radius: 4px;
    border: 2px solid #16dadd;
  }
  .btn-rotation:hover {
    transform: rotateX(180deg);
    background-color: #FFF;
    color: #16dadd;
  }
  .btn-rotation:hover span {
    transform: rotateX(180deg);
  }
  .btn-rotation:hover span:nth-child(1) {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
  }
  .btn-rotation:hover span:nth-child(2) {
    visibility: visible;
    width: 100%;
    height: inherit;
    opacity: 1;
  }
  .btn-rotation span {
    display: block;
    transition: opacity 0.3s 0.2s;
    width: 100%;
    height: inherit;
  }
  .btn-rotation span:nth-child(2) {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
  }
h4 {
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
    padding: 1rem 2rem;
    color: #fff;
}
h4 span {
    background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #fb3200;
    color: #fff;
    font-size: 14px;
}
.sample {
    font-size:5em;
    text-align:center;
    line-height:0.95em;
    font-weight:bold;
    color: transparent;
    background: repeating-linear-gradient( 45deg, #9E9E9E 0 0.1em, #000 0.1em 0.2em );
    -webkit-background-clip: text;
}
#sample2 {
    font-size:2em;
    text-align:left;
    line-height:0.95em;
    font-weight:bold;
    color: transparent;
    background : rgba(0,0,0,1);
    text-shadow : 
        0 0 0.1em rgba(255,255,255,0.05),
        0.01em 0.04em 0.03em rgba(255,255,255,0.4);
    -webkit-background-clip : text;
}
#box{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
#box:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
#box:before {left: 10px;}
#box:after {right: 10px;}
#box p {
    margin: 0; 
    padding: 0;
}