{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>/Pic</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <h4><span>/picで写真をピックするよ</span></h4>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h1 class="sample">Let's search!</h1>
        <form action="{% url 'pic' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="message">
              <span class="Form-Item-Label-Required">必須</span>
              Please any keyword!</label>
            <input name="keyword" class="form-control" type="text" placeholder="キーワードを入力"/>
          </div>
          <div class="container">
            <a class="btn-rotation" href="#">
              <span>Search</span>
              <span>GO!!!</span>
            </a>
          </div>
        </form>
      </div>
      <div class="card mt-3">
        <h3 class="card-header" id="sample2">Search History</h3>
        <div class="card-body" id="box">
          {% for history in histories %}
          <p>name: {{history.user_name}}</p>
          <p>keyword: {{history.keyword}}</p>
          <p>total hits: {{history.total_hits}}</p>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
  </body>
</html>